*{
   margin: 0;
   padding: 0;
}

.rotate{
    transform: rotate(90deg);
    margin-left: -30px;
    margin-top: 40px;
    font-size: x-small;
}
.font-weight{
    opacity: 0.5;
    font-size: 1.5rem;
}